*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
main{
    margin-top: 3rem;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}
.conteiner{
    width: 80%;
    height: auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.lado{
    transition: transform .2s ease-in-out;
}
.lado:hover{
    transform: translateY(-5px) scale(1.02);
}
.lado-eq{
    background-color: #fff;
    width: 100%;
    height: auto;
    border: 1px #1e1e1e86 solid;
    border-radius: 1.5rem;
    overflow: hidden;
    transition: transform .2s ease-in-out;
}

.linha-cont{
    width: 100%;
    height: auto;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1.5px #000 solid;
}
.grupo-1{
    width:100%;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
.icon{
    width: 60px;
    height: 60px;

}
.icon img{
    width: 100%;
    height: 100%;
}
.linha-cont button{
    font-family: "Open sans",sans-serif;
    padding: 1rem 1rem;
    border: none;
    border-radius: 1rem;
    transition: transform .2s ease-in-out;
    background-color: #000;
    color: #fff;
}
.linha-cont button:hover{
    transform: translateY(-5px);
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.514);

}
.cont-baixo{
    padding: 1rem   ;
    display: flex;
    justify-content: center;
    height: 90%;
}
.img-prod{
    border-radius: 1.5rem;
    overflow: hidden;
    height: 100%;
}
.lado-di{
    background-color: aliceblue;
    width: 100%;
    height: auto;
    border: 1px #1e1e1e86 solid;
    border-radius: 1.5rem;
    overflow: hidden;
    transition: transform .2s ease-in-out;
}
.cont-lado-di{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1rem;
}
.cont-lado-di button{
    padding: 0.7rem 1rem;
    background-color: #000;
    color: #fff;
    border-radius: 1.5rem;
    border: none;
    transition: transform .2s ease-in-out;
    width:65%;
    margin: 0 auto;
}
.cont-lado-di button:hover{
    transform: translateY(-5px);
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.514);
}
.cont-lado-di p{
    text-align: left;
    font-family: "Montserrat",sans-serif;
    font-size: clamp(1rem,2vw,2rem);

}
.cont-lado-di h1, h2{
    text-align: left;
    font-family: "Montserrat",sans-serif;
    font-size: clamp(1rem,1.8vw,2rem);

}
.cont-lado-di h3{
    font-size: clamp(1rem,1.2vw,2rem);
    text-align: left;
    font-family: "Montserrat",sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
form input{
    width: 80%;
    height: auto;
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 1.5rem;
    transition: transform .2s ease-in-out;
}
form input:hover{
    transform: translateY(-5px);
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.514);
}
form button{
    padding: 0.5rem 1rem;
    background-color: #000;
    color: #fff;
    border-radius: 1.5rem;
    border: none;
    transition: transform .2s ease-in-out;
}
form button:hover{
    transform: translateY(-5px);
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.514);
}
@media (max-width:950px){
    .conteiner{
        grid-template-columns: 1fr;
    }
    .cont-lado-di{
        align-items: center;
    }
    .cont-lado-di button {
    width: auto;
    }
    form{
        width: 70%;
    }
}
