* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(circle at right top, #fff, #c4bcbc, rgb(34, 32, 32));
}

main {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}


.cadastroProduto{
    display: flex;
    margin: 0 auto;
    align-items: center;
    min-height: 100vh;
    width: 100%; 
    justify-content: center;
}


.categoria {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: left;
    width: 80%;
}

.categoria p {
    font-family: "Open sans", sans-serif;
    font-size: clamp(1rem, 1vw, 5rem);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    padding: 0.5rem 0.5rem;

}

.ul-cat {
    padding: 0;
}

.ul-cat li:hover {
    transform: translateY(-2px);
    font-weight: 600;
    box-shadow: 1px 3px 2px black;
}

.ul-cat li {
    transition: transform .2s ease-in-out;
    border: none;
    background-color: rgb(41, 41, 44);
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    color: white;
}

.conteiner {
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    gap: 18px;
    row-gap: 20px;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.7solid #000;
    border-radius: 0.5rem;
    background-color: #e6e6e6;
    height: 330px;
    overflow: hidden;
    transition: transform .1s ease-in-out;
}

.col:hover {
    transform: translateY(-5px);
    box-shadow: 1px 3px 2px #000;
}

.cima {
    display: flex;
    width: 100%;
    height: 70%;
}

.cima img {
    width: 100%;
    height: 100%;
    position: relative;
}

.cima select {
    position: absolute;
    width: 50px;
    height: 20px;
    top: 2%;
    right: 3%;
    opacity: 0;
    border: none;
    visibility: hidden;
    z-index: 100;
    border-radius: 1rem;
    background-color: #000;
    color: #e6e6e6;
    font-size: 10px;
}

.col:hover .cima select {
    opacity: 100%;
    visibility: visible;
}

.baixo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    height: 30%;
    gap: 5px;
    background-color: #fff;
}

.NomeProd {
    width: 90%;
    margin-left: 10px;
    text-align: left;
    font-family: "Open sans",sans-serif;
    font-size: 15px;
}

.baixo p {
    font-size: clamp(1.2rem, 3vw, 1.8rem);
    font-weight: 500;
    margin-left: 10px;
    font-family: "Open sans", sans-serif;
}

.button-col {
    display: block;
    transition: transform .2s ease-in-out;
    width: auto;
    margin: 0 20px;
    border: none;
    border-radius: 1.5rem;
    text-align: center;
    margin-bottom: 5px;
    padding: 0.3rem 0.7rem;
}

.button-col:hover {
    transform: translateY(-3px);
    box-shadow: 2px 3px 1px #000;
}


/* .col:hover {
    transform: translateY(-8px);
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.514);

}

.cima-col {
    width: 100%;
    height: 20%;
    visibility: hidden;
    opacity: 0%;
}


.linha-cima-col {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: 0px;
}

.linha-cima-col select {
    background-color: #00000000;
    color: #fff;
    border: none;
    margin-left: 10px;
}

.baixo-col {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}

.linha-baixo-col {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 1rem;
    justify-content: right;
}

.salvar-col {
    width: auto;
    margin-right: 0.2rem;
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
    border: none;
    border-radius: 1.5rem;
    transition: transform .2s ease-in-out;
    background-color: #000;
    color: white;
    font-family: "Open snas", sans-serif;
}

.salvar-col:hover {
    transform: translateY(-3px);
    font-weight: 600;
}

#quatro {
    padding: 0.5rem;
}

.linha-baixo-col button {
    width: 30px;
    height: 30px;
    border-radius: 0.5rem;
    opacity: 0%;
    visibility: hidden;
    background-color: #fff;
    border: none;
    display: flex;
    transition: transform .2s ease-in-out;
    padding: 0px;
    margin-right: 0.5rem;
    transition: transform .2s ease-in-out;
}

.linha-baixo-col button:hover {
    transform: translateY(-3px);
}

.col {

    aspect-ratio: 1/1.2;
    border: none;
    border-radius: 1rem;
    transition: transform .2s ease-in-out;
    overflow: hidden;
    position: relative;
}

.grande {
    grid-column: span 2;
    grid-row: span 2;
    background-color: aqua;
    overflow: hidden;
    position: relative;
    background-image: url(../img/img_6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cima {
    width: 100%;
    height: 20%;
}

.linha-cima {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: 0px;
}

.cima select {
    width: 70px;
    height: 50px;
    border-radius: 0.5rem;
    opacity: 0%;
    visibility: hidden;
    background-color: #00000000;
    border: none;
    display: flex;
    margin-left: 1rem;
    font-family: "Open snas", sans-serif;
}

option {
    border-radius: 1rem;
}

.salvar {
    width: auto;
    margin-right: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    border: none;
    border-radius: 1.5rem;
    transition: transform .2s ease-in-out;
    background-color: #000;
    color: white;
    font-family: "Open snas", sans-serif;
}

.salvar:hover {
    transform: translateY(-5px);
    font-weight: 600;
}

.baixo {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}

.linha-baixo {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem;
}

.linha-baixo button {
    width: 50px;
    height: 50px;
    border-radius: 0.5rem;
    opacity: 0%;
    visibility: hidden;
    background-color: #fff;
    border: none;
    display: flex;
    transition: transform .2s ease-in-out;
    padding: 0px;
    margin-right: 1rem;
    transition: transform .2s ease-in-out;
}

.linha-baixo button:hover {
    transform: translateY(-5px);
}

button img {
    width: 100%;
    height: 100%;
}

#tres {
    padding: 1rem;
}

.linha-baixo select:hover {
    transform: translateY(-5px);
}

.grande button {
    visibility: hidden;
    opacity: 0%;

}

.grande:hover button {
    visibility: visible;
    opacity: 100%;
}

.grande:hover select {
    visibility: visible;
    opacity: 100%;
}

img {
    width: 100%;
    height: 100%;
}

.alto {
    grid-row: span 2;
    aspect-ratio: 1/2.482;
    background-image: url(../img/img_5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.alto2 {
    grid-row: span 2;
    aspect-ratio: 1/2.482;
    background-image: url(../img/img_9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.largo {
    grid-column: span 2;
    aspect-ratio: 2/1.15;
} */

a {
    text-decoration: none;
    color: inherit;
}

/* .foot-img::before{
    content: "✋😜🤚";
} */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
    background: radial-gradient(circle at top left, white, rgb(5, 5, 77), rgb(92, 50, 85), rgb(0, 0, 0));
    padding: 1rem;
}

/* cmc form */
form {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 70%;
    height: auto;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform .2s ease-in-out;
}

form:hover {
    transform: translateY(-10px);
    box-shadow: 2px 5px 7px 0px #851c85;
}

.lado-e {
    height: auto;
}

.lado-e img {
    width: 100%;
    height: 100%;
    position: relative;
}

.lado-d {
    background: radial-gradient(circle at bottom, rgb(64, 64, 105), rgb(3, 3, 61), rgb(53, 6, 53), rgb(0, 0, 0));
    height: auto;
    display: flex;
    justify-content: center;

}

.caixa-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 60%;
}

.caixa-form p {
    color: #fff;
    font-family: "Open sans", sans-serif;
    font-size: clamp(12px, 1vw, 15px);
    transition: transform .2s ease-in-out;
}

.caixa-form p:hover {
    font-weight: 600;
}

.form-intro h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    align-items: left;
}

input {
    width: 100%;
    padding: 0.6rem 0.5rem;
    border: none;
    border-radius: 1.5rem;
    transition: transform .2s ease-in-out
}

input:hover {
    transform: translateY(-5px);
    box-shadow: 3px 5px 7px #851c85;
}

.caixa-form button {
    width: 100%;
    padding: 0.6rem 0.5rem;
    border: none;
    border-radius: 1.5rem;
    transition: transform .2s ease-in-out;
    background: radial-gradient(circle at bottom left, blue, black);
    color: white;
    font-family: "Open sans", sans-serif;
    font-size: clamp(0.5rem, 2vw, 1rem);
}

.caixa-form button:hover {
    transform: translateY(-5px);
    box-shadow: 3px 5px 7px #851c85;
}

.form-linha {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.radio {
    width: 20px;
    height: auto;
    color: white;
    transition: none;
}

.direita {
    color: white;
    font-family: "Open sans", sans-serif;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.direita p {
    font-size: clamp(0.5rem, 1vw, 0.8rem);
}

.esquerda select {
    border: none;
    border-radius: 1.5rem;
    background: radial-gradient(circle at bottom left, #000, #851c85);
    color: rgb(212, 250, 0);
    padding: 0.5rem;
    transition: transform .2s ease-in-out;
}

option:checked {
    background-color: #000;
}

.esquerda select:hover {
    transform: translateY(-3px);
    box-shadow: 3px 5px 7px #851c85;
}

/* fim form */
@media (max-width: 663px) {
    .grande {
        grid-column: span 1;
        grid-row: span 1;
        aspect-ratio: 1/1;
    }

    form {
        width: 80%;
        grid-template-columns: 1fr;
    }

    .lado-e {
        max-height: 50rem;
    }

    .lado-d {
        padding: 1rem;
    }

    .esquerda {
        display: flex;
        justify-content: center;
    }

    .form-linha {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
}