*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 6rem;
    background-color: cadetblue;
}
main{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}

.conteiner{
    width: 80%;
    height: auto;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(min(250px,100%),1fr));
    gap: 20px;
    
    
}
.col{
    background-color: violet;
    aspect-ratio: 1/1.2;
    border: none;
    border-radius: 1.5rem;
    transition: transform .2s ease-in-out;
}
.col:hover{
    transform: translateY(-8px);
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.514);
}

.grande{
    grid-column: span 2;
    grid-row: span 2;
    background-color: aqua;
}

.alto{
    grid-row: span 2;
    background-color: red;
    aspect-ratio: 1/2.482;
}
a{
    text-decoration: none;
    color: inherit;
}
footer{
    margin-top: 3rem;
    width: 100%;
    height:auto;
    background-color: black;
}
.pai{
    max-width: 1200px ;
    height:auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px, 1fr));
    margin: 0 auto;
    gap: 30px;
    padding: 1rem 2rem;
    color: white;
}
.foot{
    background-color: rgb(238, 32, 238);
    aspect-ratio: 2/1;
    border: none;
    border-radius: 1.5rem;
    transition: transform .2s ease-in-out;
}
.foot:hover{
    transform: translateY(-8px);
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.514);
}
.linha{
    grid-column: 1/-1;
    height:0.5px;
    border:0.5px solid white;
}
.mae{
    display: grid;
    grid-template-columns: repeat(2,50%);
    gap: 30px;
    padding: 0rem 2rem;
    color: white;
}
.copy{
    width: 100%;
    display: flex;
    align-items: center;
}

.galeria{
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: wheat;
    padding: 2rem;
    gap: 30px;
    flex-wrap: wrap;
}

.foot-img img{
    max-height:4rem;
    max-width:4rem;
    background-color: whitesmoke;
    transition: transform .2s ease-in-out;
}

.foot-img img:hover{
    transform: rotateX(180deg);
    
}
/* .foot-img::before{
    content: "✋😜🤚";
} */


@media (max-width: 663px){
    .grande{
        grid-column: span 1;
        grid-row: span 1;
        aspect-ratio: 1/1;
    }
}