*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
main{
    margin-top: 3rem;
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-direction: column;
    max-width: 100%;
}
.conteiner{
    width: 80%;
    height: auto;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(min(160px,100%),1fr));
    gap: 10px;
}

.col:hover{
    transform: translateY(-8px);
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.514);
    
}
.col-1{
    background-image: url(../img/img_10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;aspect-ratio: 1/1.2;
    border: none;
    border-radius: 1rem;
    transition: transform .2s ease-in-out;
    overflow: hidden;
    position: relative;
}
.col-1:hover{
    transform: translateY(-8px);
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.514); 
}
.col-2{
    background-image: url(../img/img_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;aspect-ratio: 1/1.2;
    border: none;
    border-radius: 1rem;
    transition: transform .2s ease-in-out;
    overflow: hidden;
    position: relative;
}
.col-2:hover{
    transform: translateY(-8px);
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.514); 
}
.cima-col{
    width: 100%;
    height: 20%;
    visibility: hidden;
    opacity: 0%;
}
.col-1:hover button,select{
    visibility: visible;
    opacity: 100%;
}
.col-1:hover button,select{
    visibility: visible;
    opacity: 100%;
}   
.col-2:hover .cima-col{
    visibility: visible;
    opacity: 100%;
}
.col-2:hover button,select{
    visibility: visible;
    opacity: 100%;
}
.col-2:hover button,select{
    visibility: visible;
    opacity: 100%;
}
.col-1:hover .cima-col{
    visibility: visible;
    opacity: 100%;
}
.linha-cima-col{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: 0px;
}
.linha-cima-col select{
    background-color: #00000000;
    color: #fff;
    border: none;
    margin-left: 10px;
}
.baixo-col{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.linha-baixo-col{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 1rem;
    justify-content: right;
}
.salvar-col{
    width: auto;
    margin-right: 0.2rem;
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
    border: none;
    border-radius: 1.5rem;
    transition: transform .2s ease-in-out;
    background-color: #000;
    color: white;
    font-family: "Open snas",sans-serif;
}
.salvar-col:hover{
    transform: translateY(-3px);
    font-weight: 600;
}
#quatro{
    padding: 0.5rem;
}
.linha-baixo-col button{
    width: 30px;
    height: 30px;
    border-radius: 0.5rem;
    opacity: 0%;
    visibility: hidden;
    background-color: #fff;
    border: none;
    display: flex;
    transition: transform .2s ease-in-out;    padding: 0px;
    margin-right: 0.5rem;
    transition: transform .2s ease-in-out;
}
.linha-baixo-col button:hover{
    transform: translateY(-3px);
}
.col{
    
    aspect-ratio: 1/1.2;
    border: none;
    border-radius: 1rem;
    transition: transform .2s ease-in-out;
    overflow: hidden;
    position: relative;
}
.grande{
    grid-column: span 2;
    grid-row: span 2;
    background-color: aqua;
    overflow: hidden;
    position: relative;
    background-image: url(../img/img_6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cima{
    width: 100%;
    height: 20%;
}
.linha-cima{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: 0px;
}
.cima select{
    width: 70px;
    height: 50px;
    border-radius: 0.5rem;
    opacity: 0%;
    visibility: hidden;
    background-color: #00000000;
    border: none;
    display: flex;
    margin-left: 1rem;
    font-family: "Open snas",sans-serif;
}
option{
    border-radius: 1rem;
}
.salvar{
    width: auto;
    margin-right: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    border: none;
    border-radius: 1.5rem;
    transition: transform .2s ease-in-out;
    background-color: #000;
    color: white;
    font-family: "Open snas",sans-serif;
}
.salvar:hover{
    transform: translateY(-5px);
    font-weight: 600;
}
.baixo{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.linha-baixo{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem;
}
.linha-baixo button{
    width: 50px;
    height: 50px;
    border-radius: 0.5rem;
    opacity: 0%;
    visibility: hidden;
    background-color: #fff;
    border: none;
    display: flex;
    transition: transform .2s ease-in-out;    padding: 0px;
    margin-right: 1rem;
    transition: transform .2s ease-in-out;
}
.linha-baixo button:hover{
    transform: translateY(-5px);
}
button img{
    width:100%;
    height: 100%;
}
#tres{
    padding: 1rem;
}
.linha-baixo select:hover{
    transform: translateY(-5px);
}
.grande button{
    visibility: hidden;
    opacity: 0%;

}
.grande:hover button{
    visibility: visible;
    opacity: 100%;
}
.grande:hover select{
    visibility: visible;
    opacity: 100%;
}

img{
    width: 100%;
    height: 100%;
}
.alto{
    grid-row: span 2;
    background-color: red;
    aspect-ratio: 1/2.482;
}
.largo{
    grid-column: span 2;
    aspect-ratio: 2/1.15;
}
a{
    text-decoration: none;
    color: inherit;
}
/* .foot-img::before{
    content: "✋😜🤚";
} */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
    background-color: #1e1e1e;
    padding: 1rem;
}
/* cmc form */
form{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 70%;
    height: auto;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform .2s ease-in-out;
}
form:hover{
    transform: translateY(-10px);
    box-shadow: 2px 5px 7px 0px #851c85;
}
.lado-e{
    height: auto;
}
.lado-e img{
    width: 100%;
    height: 100%;
    position: relative;
}
.lado-d{
    background: linear-gradient(0deg, #000,#000000da);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa-form{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    gap: 15px;
    width: 60%;
}
.form-intro h1{
    font-family: "Montserrat",sans-serif;
    color: white;
}
input{
    width: 100%;
    padding: 0.6rem 0.5rem;
    border: none;
    border-radius: 1.5rem;
    transition: transform .2s ease-in-out
}
input:hover{
    transform: translateY(-5px);
    box-shadow: 3px 5px 7px #851c85;
}
.caixa-form button{
    width: 100%;
    padding: 0.6rem 0.5rem;
    border: none;
    border-radius: 1.5rem;
    transition: transform .2s ease-in-out;
    background-color: blue;
    color: white;
    font-family: "Open sans",sans-serif;
    font-size: clamp(0.5rem,2vw,1rem);
}
.caixa-form button:hover{
    transform: translateY(-5px);
    box-shadow: 3px 5px 7px #851c85;    
}
/* fim form */
@media (max-width: 663px){
    .grande{
        grid-column: span 1;
        grid-row: span 1;
        aspect-ratio: 1/1;
    }
    form{
        width: 80%;
        grid-template-columns: 1fr;
    }
    .lado-e{
        max-height: 50rem;
    }
    .lado-d{
        padding: 1rem;
    }
}